body{
    font-family: 'Montserrat';
    background-color: #CFCFCF;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
}

@font-face {
    font-family: NicoMoji;
    src: url(../../../font/NicoMoji-Regular.ttf);
   }
   h2 {
    font-family: NicoMoji;
   }

/* header */

.header {
    position: fixed;
    width: 100%;
    background-color: #393939;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    color: #f1f1f1;
}

.menu_main {
    text-decoration: none;
    padding-right: 10px;
    color: #f1f1f1;
}

.menu_main:hover {
    text-decoration: underline;
    color: #6c6c6c;
}

.menu_settings {
    color: #f1f1f1;
    text-decoration: none;
}

.menu_settings:hover {
    text-decoration: underline;
    color: #6c6c6c;
}

.menu_docs {
    padding-right: 10px;
    color: #f1f1f1;
}

.menu_docs:hover {
    text-decoration: underline;
    color: #6c6c6c;
}

.nav_panel {
    display: flex;
    padding-top: 100px;
}

.search {
    margin-right: 10px;
}

.sort {
    margin-right: 10px;
}
