<html>
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/styles/main.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        {% block content %}
            <div class="header">
                <div class="container_header">
                    <div>
                        <a href="/">
                            <img src="{{ url_for('static', filename='assets/logoWhite.svg') }}" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <a class="menu_main" href="/">
                            Главная
                        </a>
                        <a class="menu_docs" href="/api">
                            Документация
                        </a>
                        <a class="menu_settings" href="/settings">
                            Настройки
                        </a>
                    </div>
                </div>

            </div>
            {% endblock %}
        <div class="container">
            <div class="sidenav">
                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                        <label for="tab-1" class="tab-label">Импорт данных</label>
                        <div class="tab-content">
                            <div class="border_file field__wrapper">
                                <label style="color: white;">Загрузить файл по ссылке</label>

                                <input name="file" type="file" name="file" id="field__file-2" class="field field__file" multiple>

                                <label class="field__file-wrapper" for="field__file-2">
                                  <div class="field__file-fake">Выберите файл</div>
                                  <div class="field__file-button">Выбрать</div>
                                </label>

                             </div>
                             <script lang="JavaScript">
                                let fields = document.querySelectorAll('.field__file');
                                Array.prototype.forEach.call(fields, function (input) {
                                    let label = input.nextElementSibling,
                                        labelVal = label.querySelector('.field__file-fake').innerText;

                                    input.addEventListener('change', function (e) {
                                        let fileName = '';
                                        if (this.files && this.files.length >= 1)
                                            fileName = this.files[0].name;

                                        if (fileName)
                                            label.querySelector('.field__file-fake').innerText = fileName;
                                        else
                                            label.querySelector('.field__file-fake').innerText = labelVal;
                                    });
                                });
                            </script>
                            <div class="border_url_1">
                              <label style="color: white;">Загрузить файл по ссылке</label>
                              <input style="color: #fff;" class="input" type="url" />
                            </div>
                            <button class="upload_file">Загрузить</button>

                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                        <label for="tab-2" class="tab-label">Генерация</label>
                        <div class="tab-content">
                            <form class="generate" method=post action={{generate_path}} enctype=multipart/form-data>
                                <label style="color: white;">Введите количество вершин</label>
                                <input style="color: #fff; margin-top: 5px;" class="input" type="text" name = "count" />
                                <label style="display: block; color: white; margin-top: 10px;">Выберите способ генерации</label>
                                <select style="margin-top: 5px;" class="dropdown-menu-export">
                                    <option value="1">
                                        Первый способ
                                    </option>
                                    <option value="2">
                                        Какой то другой способ
                                    </option>
                                </select>
                                <button id="btn_generate">Сгенерировать</button>

                                <div id="modalGenerate" class="modal_generate">
                                      <div class="modal-header-generate">
                                        <span class="close-generate">&times;</span>
                                      </div>
                                      <div class="modal-body-generate">
                                        <p>Вы уверены, что хотите сгенерировать граф с выбранными параметрами?</p>
                                      </div>
                                      <div class="modal-footer-generate">
                                        <button>Нет</button>
                                        <button>Да</button>
                                      </div>
                                </div>
                                <script lang="JavaScript">
                                    var modal_generate = document.getElementById('modalGenerate');
                                    var btn_generate = document.getElementById("btn_generate");
                                    var span_generate = document.getElementsByClassName("close-generate")[0];

                                    btn_generate.onclick = function() {
                                        modal_generate.style.display = "block";
                                    }

                                    span_generate.onclick = function() {
                                        modal_generate.style.display = "none";
                                    }

                                    window.onclick = function(event) {
                                        if (event.target == modal_generate) {
                                            modal_generate.style.display = "none";
                                        }
                                    }
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
              <div class="sidenavTwo">

                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="sidenavTwo-tabs" id="sidenavTwo-tab-1" checked class="tab-switch">
                        <label for="sidenavTwo-tab-1" class="tab-label">Характеристики</label>
                        <div id="sidenavTwo-tab-1-content" class="tab-content">
                            <div class="border_url">
                                <label style="display: block;color: white;">Количество вершин: {{len_nodes}}</label>
                                <label style="display: block;color: white;">Количество ребер: {{len_edges}}</label>
                                <label style="display: block;color: white;">Типы связей: Братья</label>
                                <label style="display: block;color: white;">Количество сообществ: ??</label>
                                <label style="display: block;color: white;">Максимальная степень: {{max_degree}}</label>
                                <label style="display: block;color: white;">Центр: {{center_nodes}}</label>
                                <label style="display: block;color: white;">Самая активная вершина: ??</label>
                            </div>
                            <div class="border_url_export">
                                <label style="display: block;color: white; padding-left: 10px;">Параметры экспорта</label>
                                <select class="dropdown-menu-export">
                                    <option value="1">
                                        .csv
                                    </option>
                                    <option value="2">
                                        .xlsx
                                    </option>
                                </select>
                                <button class="upload_file">Экспортировать</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab">
                        <input type="radio" name="sidenavTwo-tabs" id="sidenavTwo-tab-2" class="tab-switch">
                        <label for="sidenavTwo-tab-2" class="tab-label">Типы</label>
                        <div id="sidenavTwo-tab-2-content" class="tab-content">
                                <div class="type_nodes">
                                    <p class="text_h3">Тип вершин</p>
                                    <div class="cont_type_edge">
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <input class="input_type_edge" type="text" placeholder="Введите тип дуг/ребер" />
                                        <button class="btn_add">Добавить тип вершины</button>
                                    </div>
                                </div>
                                <div class="type_edges">
                                    <p class="text_h3">Тип дуг/ребер</p>
                                    <div class="cont_type_edge">
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                        <div class="type_edge_div">
                                            <p class="input_nodes">
                                                tp1: Test
                                                <button>
                                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <input class="input_type_edge" type="text" placeholder="Введите тип дуг/ребер" />
                                        <button class="btn_add">Добавить тип вершины</button>
                                    </div>
                                </div>
                        </div>
                    </div> -->
                    <!-- <script lang="JavaScript">
                        let sidenavTwoTabs = document.querySelectorAll('.sidenavTwo .tab-switch');
                        Array.prototype.forEach.call(sidenavTwoTabs, function (input) {
                            let label = input.nextElementSibling;
                            input.addEventListener('change', function (e) {
                                let tabContents = document.querySelectorAll('.sidenavTwo .tab-content');
                                Array.prototype.forEach.call(tabContents, function (content) {
                                    content.style.display = 'none';
                                });
                                document.querySelector('.sidenavTwo #' + e.target.id + '-content').style.display = 'block';
                            });
                        });
                    </script> -->

                </div>
              </div>

              <div class="main">
                <p>{{name_project}}</p>
                <!-- <input class="input_name_graph" placeholder="Имя графа" type="text" /> -->

                <div class="panel_graph">
                    <select class="dropdown_metrick">
                        <option value="">Поиск метрик</option>
                        <option value="2">Центральность по степени</option>
                        <option value="3">Центральность по близости</option>
                        <option value="4">Смежные группы</option>
                    </select>

                    <div style="display: flex;">
                        <button id="btn_add_edge" class="btn_add">Добавить отношение</button>

                        <div id="modalEdge" class="modal_edge">
                            <form class="modal-content-edge" method=post action={{add_edge_path}} enctype=multipart/form-data>
                              <div class="modal-header-edge">
                                <span class="close-edge">&times;</span>
                                <h2>Добавить отношение</h2>
                              </div>
                              <div class="modal-body-edge">
                                <p>Укажите индексы вершин, которые хотите соединить </p>
                                <div class="data_edge">
                                    <label class="label_modal">
                                        <span style="display: block; font-size: 15px;">Первая вершина</span>
                                        <input class="input_black" type="text" name="firstid" />
                                    </label>
                                    <label class="label_modal">
                                        <span style="display: block; font-size: 15px;">Вторая вершина</span>
                                        <input class="input_black" type="text" name="secondid" />
                                    </label>
                                    <select class="dropdown_edge_modal" name=type>
                                        <option>Тип связи</option>
                                        <option>Братья</option>
                                        <option>Друзья</option>
                                        <option>Влюбленные</option>
                                    </select>
                                </div>
                                <button class="create_edge">Создать</button>
                              </div>
                            </form>
                        </div>
                        <script lang="JavaScript">
                            var modal_edge = document.getElementById('modalEdge');
                            var btn_add_edge = document.getElementById("btn_add_edge");
                            var span_edge = document.getElementsByClassName("close-edge")[0];

                            btn_add_edge.onclick = function() {
                                modal_edge.style.display = "block";
                            }

                            span_edge.onclick = function() {
                                modal_edge.style.display = "none";
                            }

                            window.onclick = function(event) {
                                if (event.target == modal_edge) {
                                    modal_edge.style.display = "none";
                                }
                            }
                        </script>

                        <button id="myBtn" class="btn_add">Добавить вершину</button>

                        <div id="myModal" class="modal">
                            <form class="modal-content" method=post action={{add_node_path}} enctype=multipart/form-data>
                              <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>Добавить вершину</h2>
                              </div>
                              <div class="modal-body">
                                <p>Укажите атрибуты вершины:</p>
                                <div class="add_nodes">
                                    <label class="label_modal">
                                        <span style="display: block;">Имя*</span>
                                        <input class="input_black" type="text" name=firstname/>
                                    </label>
                                    <label class="label_modal">
                                        <span style="display: block;">Фамилия*</span>
                                        <input class="input_black" type="text"name=surname />
                                    </label>
                                    <label class="label_modal">
                                        <span style="display: block;">Отчество</span>
                                        <input class="input_black" type="text" name = patro />
                                    </label>
                                    <label class="label_modal">
                                        <span style="display: block;">Номер телефона:</span>
                                        <input class="input_black" type="text" name = phone />
                                    </label>
                                    <label class="label_modal">
                                        <span style="display: block;">Имя пользователя</span>
                                        <input class="input_black" type="text" name = username />
                                    </label>
                                </div>
                              </div>
                              <button type=submit value=Upload class="create_edge">Добавить</button>
                            </form>
                        </div>
                        <script lang="JavaScript">
                            var modal = document.getElementById('myModal');
                            var btn = document.getElementById("myBtn");
                            var span = document.getElementsByClassName("close")[0];

                            btn.onclick = function() {
                                modal.style.display = "block";
                            }

                            span.onclick = function() {
                                modal.style.display = "none";
                            }

                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        </script>

                        <!-- switcher -->
                        <div class="switcher_div">
                            <span style="font-size: 16px; padding-right: 5px;">User</span>
                            <label class="switch">
                                <input type="checkbox">
                            <span class="slider round"></span>
                            </label>
                            <span style="font-size: 16px; padding-left: 5px;">Math</span>
                        </div>


                        <!-- {# include 'components/modalTypeNodes' with isOpen = 'false' #} -->

                        <button
                            onclick="openModal()">
                            Запустить
                        </button>

                        <script lang="JavaScript">
                            let isOpen = false
                            function openModal() {
                                isOpen = true;
                            }
                        </script>

                        {% if isOpen == true %}`
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Заголовок модального окна</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="button" class="btn btn-primary">Понял</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <iframe style="border-radius: 70px;width: 100%" src="{{ url_for('static', filename=nx_file) }}" height="600px", width="100%" frameborder="0"></iframe>
                </div>

                <div id="info_graph" class="info_graph">
                    <div class="block_info">
                        <div class="first_info">
                            <p class="text_info">Тип: </p>
                            <p class="text_info">id:</p>
                            <p class="text_info">ФИО: </p>
                            <p class="text_info">Телефон: ??</p>
                            <p class="text_info">Никнейм: ??</p>
                        </div>

                        <div class="create-line"></div>

                        <div class="first_info">
                            <p id="degree" class="text_info">Степень: 2</p>
                            <p class="text_info">Типы отношений: Вершина</p>
                            <p class="text_info">Средний коэффициент отношений: Вершина</p>
                            <p class="text_info">Влияние в соцсети: Вершина</p>
                       </div>

                        <div class="create-line"></div>

                        <div class="first_info">
                            <p class="text_info">Тип: Вершина</p>
                            <p class="text_info">id: Вершина</p>
                            <p class="text_info">ФИО: Вершина</p>
                            <p class="text_info">Телефон: Вершина</p>
                            <p class="text_info">Никнейм: Вершина</p>
                        </div>
                    </div>

                    <div class="btn_nav_all">
                        <button id="btn_delete_nodes" class="btn_nav">Удалить</button>

                        <div id="modalDelete" class="modal_generate">
                            <div class="modal-header-delete">
                              <span class="close-delete">&times;</span>
                            </div>
                            <div class="modal-body-delete">
                              <p>Вы уверены, что хотите сгенерировать граф с выбранными параметрами?</p>
                            </div>
                            <div class="modal-footer-delete">
                              <button>Нет</button>
                              <button id="delete_node">Да</button>
                            </div>
                      </div>
                      <script lang="JavaScript">
                          var modal_delete = document.getElementById('modalDelete');
                          var btn_delete_nodes = document.getElementById("btn_delete_nodes");
                          var span_delete = document.getElementsByClassName("close-delete")[0];

                          btn_delete_nodes.onclick = function() {
                            modal_delete.style.display = "block";
                          }

                          span_delete.onclick = function() {
                            modal_delete.style.display = "none";
                          }

                          window.onclick = function(event) {
                              if (event.target == modal_delete) {
                                modal_delete.style.display = "none";
                              }
                          }
                      </script>

                        <button class="btn_nav">Дублировать</button>
                        <button class="btn_nav">Редактировать</button>
                        <button class="btn_nav">Соединить</button>
                    </div>

                </div>
                <p id="info_hide">Выберите элемент</p>
              </div>
        </div>

    </body>
    <script>
        const container = document.getElementById('info_graph');
        const resultElement = document.getElementById('info_hide');

        var name_project = "{{ name_project }}";

        const typeInfo = document.querySelector('.text_info:nth-child(1)');
        const idInfo = document.querySelector('.text_info:nth-child(2)');
        const fioInfo = document.querySelector('.text_info:nth-child(3)');
        const phoneInfo = document.querySelector('.text_info:nth-child(4)');
        const userInfo = document.querySelector('.text_info:nth-child(5)');
        const degreeInfo = document.getElementById('degree');

        const deleteNode = document.getElementById('delete_node');

        deleteNode.addEventListener('click', function() {
            console.log('sadasf')
            var data = {
                    nodeId: idInfo.textContent,
                };
            const options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                },
            };
            console.log('sadasf 2')
            fetch(`http://localhost:5000/${name_project}/delete_node`, options).then(response => {
                if (response.ok) {
                    console.log('Запрос выполнен успешно');
                    location.reload()
                } else {
                    console.error('Произошла ошибка при выполнении запроса');
                }
            }).catch(error => {
                console.error('Произошла сетевая ошибка', error);
            });
        });



        var condition = false; // Замените на ваше условие

        function updateDisplay() {
            if (condition) {
                resultElement.style.display = 'none';
                container.style.display = 'block'; // Показать контейнер
            } else {
                resultElement.style.display = 'block';
                container.style.display = 'none'; // Скрыть контейнер
            }
        }
        updateDisplay();
        function sendPostRequest(nodeId) {
                var data = {
                    nodeId: nodeId,
                    name_project: name_project
                };

            var options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            fetch(`http://localhost:5000/${name_project}/select_node`, options)
            .then(function(response) {
                if (response.status === 200) {
                    return response.text(); // Получить текстовое содержимое ответа
                } else {
                    console.error('Ошибка при выполнении POST-запроса');
                }
            })
            .then(function(data) {
                try {
                    const jsonData = JSON.parse(data); // Попробовать распарсить текст как JSON
                    // Ваши действия с распарсенными данными

                    if (jsonData.res_checker != null){
                        condition = true; // Обновить condition

                        console.log(jsonData); // Вывод данных в консоль

                        typeInfo.textContent = 'Тип: ' + jsonData.type; // Предположим, что тип находится в свойстве "type" объекта "data"
                        idInfo.textContent = 'id: ' + jsonData.id; // Предположим, что id находится в свойстве "id" объекта "data"
                        fioInfo.textContent = 'ФИО: ' + jsonData.fio; // Предположим, что ФИО находится в свойстве "fio" объекта "data"\
                        phoneInfo.textContent = 'Телефон: ' + jsonData.phone_number; // Предположим, что ФИО находится в свойстве "fio" объекта "data"
                        userInfo.textContent = 'Никнейм: ' + jsonData.username;
                        degreeInfo.textContent = "Степень: " + jsonData.degree;
                        updateDisplay();

                    }else{
                        condition = false; // Обновить condition
                        updateDisplay();
                    }
    } catch (error) {
      console.error('Ошибка при парсинге JSON: ' + error);
    }
  })
  .catch(function(error) {
    console.error('Ошибка при выполнении POST-запроса: ' + error);
  });

        }
        window.addEventListener('message', function (event) {
            if (event.origin === window.location.origin) {
                sendPostRequest(event.data)
            }
        });

    </script>

</html>
