<html>
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/styles/newProject.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="start_text">Создание нового проекта</h1>
        <form method=post action="/create_new_project" class="cont_parent">
            <div class="form">
                <p class="text_input">Введите название проекта</p>
                <input name="name_project" placeholder="Имя проекта" class="input" />
            </div>
            <div class="cont_type">
                <div class="type_nodes">
                    <h3 class="text_h3">Тип вершин</h3>
                    <div class="cont_type_edge">
                        <div class="type_edge_div">
                            <p class="input_nodes">
                                tp1: Test
                                <button class="btn_close">
                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                </button>
                            </p>
                        </div>
                        <div class="type_edge_div">
                            <p class="input_nodes">
                                tp1: Test
                                <button class="btn_close">
                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                </button>
                            </p>
                        </div>
                        <div class="type_edge_div">
                            <p class="input_nodes">
                                tp1: Test
                                <button class="btn_close">
                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                </button>
                            </p>
                        </div>
                        <div class="type_edge_div">
                            <p class="input_nodes">
                                tp1: Test
                                <button class="btn_close">
                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                </button>
                            </p>
                        </div>
                    </div>
                    <div>
                        <input class="input_type_edge" type="text" placeholder="Введите тип вершины" />
                        <button class="btn_add">Добавить тип вершины</button>
                    </div>
                </div>
                <div class="create-line"></div>
                <div class="type_edges">
                    <h3 class="text_h3">Тип дуг/ребер</h3>
                    <div class="cont_type_edge">
                        <div class="type_edge_div">
                            <p class="input_nodes">
                                tp1: Test
                                <button>
                                    <img src="{{ url_for('static', filename='assets/btn-cancel.png') }}" alt="close">
                                </button>
                            </p>
                        </div>
                    </div>
                    <div>
                        <input class="input_type_edge" type="text" placeholder="Введите тип дуг/ребер" />
                        <button class="btn_add">Добавить тип вершины</button>
                    </div>
                </div>
            </div>
            <div class="cont">
                <button class="btn_create">Создать</button>
            </div>
        </form>
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/GRAPHVIZ.svg') }}" alt="logo">
        </div>
    </body>
</html>
